@model ClassLib.Models.Product

<form method="post" enctype="multipart/form-data" action="@Url.Action("Upload","Products", new { id = 11 })">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />

</form>


